.reveal h1 {
    font-size: 1.5em;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px white;
}

.reveal h2 {
    font-size: 1.2em;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px white;
}

.reveal h3 {
    font-size: 0.6em;
    text-transform: capitalize;
}

.reveal h4 {
    font-size: 0.4em;
    text-transform: capitalize;
}

.slides em {
    color: #e99a24;
    font-style: normal;
}

.reveal .slide-number {
    font-size: 0.4em;
}

.citation {
    font-size: 0.6em;
}

.csl-entry {
    text-align: left;
    font-size: 0.6em;
}

.slides {
    font-size: 0.75em;
}

.reveal ul {
    display: block;
}

.reveal ol {
    display: block;
}

/* enable multiple columns */
/* https://stackoverflow.com/questions/30861845 */
.container {
    display: flex;
    align-items: center;
}

.col {
    flex: auto;
}

.box-def {
    border: 4px solid #e7e1e1;
    border-radius: 20px;
    background: #dbd9d9;
    margin: 5px;
}

.box-def-title {
    background-color: #555555;
    border: 4px solid #555555;
    border-radius: 20px 20px 0 0;
    color: #fff;
    margin: -2px;
    font-weight: 100;
}

.box-white {
    padding: 0px;
    border: 4px solid #cccccc;
    border-radius: 20px;
    background: #cccccc;
    margin: 5px;
}

.box-blue-title {
    background-color: #1f2933;
    border: 0.5px solid #003366;
    border-radius: 20px 20px 0 0;
    color: #fff;

    height: 40px;
    /* fixed height */
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin: -2px;
    font-weight: 200;
    text-align: left;
}

.box-green-title {
    background-color: #328b48;
    border: 0.5px solid #33996e;
    border-radius: 20px 20px 0 0;
    color: #fff;

    height: 40px;
    /* fixed height */
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin: -2px;
    font-weight: 200;
    text-align: left;
}

.box-def-title p {
    margin: 0;
    padding: 0;
}

.box-ex {
    border: 4px solid #0a4a0c;
    border-radius: 20px;
    background: #0a4a0c5f;
    margin: 5px;
}

.box-ex-title {
    background-color: #0a4a0c;
    border: 4px solid #0a4a0c;
    border-radius: 20px 20px 0 0;
    color: #fff;
    margin: -2px;
    font-weight: 100;
}

.box-ex-title p {
    margin: 0;
    padding: 0;
}

.box-red {
    padding: 0px;
    border: 4px solid #79070b;
    border-radius: 20px;
    background: #79070b5f;
    margin: 5px;
}

.box-red-title {
    background-color: #79070b;
    border: 4px solid #79070b;
    border-radius: 20px 20px 0 0;
    color: #fff;
    margin: -2px;
    font-weight: 100;
}

.box-red-title p {
    margin: 0;
    padding: 0;
}

.box-green {
    padding: 0px;
    border: 4px solid #07790b;
    border-radius: 20px;
    background: #e6f5e6;
    margin: 5px;
}


#refs {
    height: 800px;
    overflow-y: auto !important;
}